<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/home.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
        <%-include("partials/header") %>    
      </header>
      <main id= "container-bodyhome">
        <div id="botao-acessibilidade">
          <img id="icone-acessibilidade" src="images/courses/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
         </div>
        <div id= "cimahome">
          <section id= "mensagemhome">
            <p >A melhor plataforma de ensino tecnológico que te ajuda a ir atrás dos<bold id = "destaquemensagem">seus sonhos.</bold> </p>
          </section>
          <section class= "arthome" >
            <img src= "images/home/arthome.svg" alt="Art Home - SkoobyTech">
          </section>
        </div>         
        <section class= "banner-carrossel">
              <div class= "carrossel" >
                <img src="images/home/img-banner-1.jpg" alt="" class="item">
                <img src="images/home/img-banner-2.png" alt="" class="item">
                <button class="arrow-left control" aria-label="Previous image">◀</button>
                <button class="arrow-right control" aria-label="Next Image">▶</button>
              </div>
        </section>
        <div id = "baixohome">
          
          <section class= "arthome2" >
            <p class="texthi"> Hi, Skoobie!</p>
           <img src="images/home/arthome2.svg" alt="Art Home - SkoobyTech">
          </section>

          <span id= "categoriasdecursos-home">

            <section class="categoriashomeFront-End" href="/courses">Cursos em Front-End</section>
            <section class="categoriashomeBack-End" href="/courses">Cursos em Back-end</section>
            <section class="categoriashomeFull-Stack" href="/courses">Cursos em Full Stack</section>
            <section class="categoriashomeMetodologias" href="/courses">Cursos em Metodologias de Desenvolvimento</section>

          </span>
        </div>

        <span id="parceiros">
          <p id="titulo-parceiros">Com a parceria de empresas Tech em todo Brasil</p>
          <img class="icones-parceiros" src="images/courses/parceiro-stripe.svg" alt="Ícone parceiro Stripe">
          <img class="icones-parceiros" src="images/courses/parceiro-google.svg" alt="Ícone parceiro Google">
          <img class="icones-parceiros" src="images/courses/perceiro-adobe.svg" alt="Ícone parceiro Adobe">
          <img class="icones-parceiros" src="images/courses/parceiro-github.svg" alt="Ícone parceiro GitHub">
          <img class="icones-parceiros" src="images/courses/parceiro-DH.svg" alt="Ícone parceiro DigitalHouse">
         </span>
    </main>
    <footer>
      <%-include("partials/footer") %>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/home.js"></script>
  </body>
</html>